*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Smooch Sans', sans-serif;
}

.title { 
    margin: 0px;
    text-align: center;
    font-size: 50px;
}

.navbar_style {
    background-color: #ba3333; font-size: 30px;
    background-image: linear-gradient(90deg, rgba(244,27,32,0.21098861908044464) 2%, rgba(236,42,18,1) 32%, rgba(225,55,14,1) 100%);
}
.video{
    width: 100%; 
    height: 500px; 
    overflow: hidden;
}

.textDesign{
    font-size: 25px;
    color: black;
    border-radius: 15px;
    width: 200px;
    text-align: center;
    background-image: linear-gradient(to top, #928787, #B2BABB);
}

.textDesign:hover {
    background-image: linear-gradient(to top, #08e600, #65d64f);
    color: rgb(250, 250, 250);
    transition: 0.6s;
    width: 220px;
    font-size: 30px;
}

    .zoom:hover {
        transform: scale(1.25);
        transition: 0.9s;
    }


.img-fluid{
    width: 50%;    
}

footer img {
    width: 20%;
}

footer{
    background-color: #ba3333;
}

#footer-image{
    border-radius: 30px;
}


/* --------Integrantes--------  */

.foto {
    width: 200px;
    height: 200px;
}

.slide{
    position: relative;
    animation: mymove 3s;
}

.slide2 {
    position: relative;
    animation: mymove2 3s;
}

@keyframes mymove2 {
    from {right: -400px;}
    to {right: 0px;}
}

.name {
    font-weight:600;
    font-size: 25px;
}

.name__instrumentos{
    color: red;
    font-size: 15px;
    font-weight: 600;
}

.name__instrumentos--fecha {
    color: darkgreen;
    font-size: 15px;
    font-weight: 600;
}

/*--------Historia--------*/
.historia {
    display: flex;
    flex-direction: column;
    margin: 0px 20px 150px 20px;
    padding: 20px;
    text-align:justify;
    font-size: 18px;
    border-radius: 20px;
    border: 7px outset rgb(255, 3, 3);
    background-image: linear-gradient(#000, rgb(0,0,32));
    color: rgb(247, 243, 0);
    font-weight: bold;
    position: relative;
    animation: mymove 3s;
}

#div1 {animation-timing-function: linear;}

@keyframes mymove {
    from {left: -400px;}
    to {left: 0px;}
}


.historia p {
    font-weight: lighter;
    font-size: 23px;
}

/*--------Discografia--------*/

.lista{
    list-style-position: inside;
    text-align: center;
    flex-direction: column;
    margin: 0px 310px 100px 310px;
    padding: 0px 0px 0px 0px;
    background-color: rgb(10, 2, 2);
    color: azure;
}

.portada {
    width: 200px;
    height: 200px;
}


/*--------Contacto---------*/

.fotoContacto {
    margin-top: 15px;
    width: 100%;
}

.datos {
    display:flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    padding: 0px 300px 100px 230px;
    margin: 0px 0px 20px 100px;
    font-weight: 600;
}

.botons {
align-self: center;
margin: 0px 0px 20px 0px;
padding: 0px 0x 30px;
}

.notificaciones {
    align-self: center;
    margin-top: 30px;
}

@media (max-width: 976px) {
    .hidden_video {
        display: none;
    }
}

@media (max-width: 576px) {
    .integrantes__grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    text-align: center;
    gap: 1px;
    }
}